@import "../../scss/lib.scss";

.form{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}
.form__content{
    width: 62.5%;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    @include media_query(laptop){
        width: 83.33%;
    }
    @include media_query(laptop_small){
        width: 87.84%;
    }

    @include media_query(tablet){
        width: calc(100% - 48px);
    }
}
.form__title{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;

    margin-bottom: 32px;

    @include font(title_h3);
    color: $theme_white;
}
.form__input{
    width: calc(100% / 12 * 10);
    height: auto;
    display: flex;
    position: relative;

    border: none;
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid $theme_grey;
    border-radius: 8px;
    margin-bottom: 16px;

    @include font(more_text);
    color: $theme_white;
    background: rgba($theme_white, 0.04);

    transition-property: border, background, transform;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;

    outline: none;

    &:focus{
        border-color: $theme_secondary;
        background: rgba($theme_white, 0.16);
    }

    &::placeholder{
        color: rgba($theme_white, 0.48);
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        visibility: hidden;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    @include media_query(mobile_large){
        width: 100%;
    }
}
.form__success{
    width: 62.5%;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: row;

    @include font(title_h2);
    color: $theme_primary;
}
.form__error{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;

    @include font(more_text);
    color: $theme_secondary;
}
.form__button{
    width: auto;
    height: auto;
    display: inline-flex;
    position: relative;

    margin-top: 16px;
    padding: 8px 24px;
    box-sizing: border-box;
    border: 2px solid $theme_secondary;
    border-radius: 8px;
    margin-bottom: 32px;

    @include font(more_text);

    background: transparent;
    color: $theme_secondary;
    font-weight: bold;
    outline: none;
    cursor: pointer;

    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;

    &:hover{
        transform: translateY(-2px);
    }
    &:active{
        transform: translateY(-1px);
    }
    @include media_query(mobile_large){
        width: 100%;
        justify-content: center;
    }
}