$theme_white: #FFFFFF;
$theme_primary: #FFDC00;
$theme_secondary: #F01B1B;
$theme_black: #121212;
$theme_grey: #777777;

$deviceBreakpoints: (
    laptop: 1440px,
    laptop_small: 1366px,
    tablet_large: 1024px,
    tablet: 768px,
    mobile_large: 414px,
    mobile_small: 320px
);

@mixin media_query($device){
    @if map-has-key($deviceBreakpoints, $device) == false{
        @error '$device должен быть laptop/laptop_small/tablet_large/tablet/mobile_large/mobile_small';
    }@else{
        @media screen {
            @media (max-width: map-get($deviceBreakpoints, $device)){
                @content;
            }
        }
    }
}

$properties: (
    //                  Font Family    Style    Weight  Color           Transform
    title_h1:           ('Roboto Slab' normal   bold    $theme_primary   none),
    title_h2:           ('Roboto Slab' normal   bold    $theme_primary   none),
    title_h2__light:    ('Roboto'      normal   500     $theme_primary   none),
    title_h3:           ('Roboto'      normal   500     #4D4D4D       none),
    title_h3__light:    ('Roboto'      normal   300     #4D4D4D       uppercase),
    title_h4:           ('Roboto'      normal   normal  #4D4D4D       none),
    more_text:          ('Roboto'      normal   normal  #4D4D4D       none),
    main_text:          ('Roboto'      normal   normal  #4D4D4D       none),
    additional_text:    ('Roboto'      normal   normal  #4D4D4D       none),
);

$variableProperties: (
    //                 Size Height
    //                 1920            1440            414             320
    title_h1:        ((3.25em 115.4%) (3em 115.4%)    (3.25em 115.4%) (2.75em 109.1%)),
    title_h2:        ((2.25em 111.1%) (32px 111.1%)   (2.25em 111.1%) (32px 106.3%)),
    title_h2__light: ((2.25em 111.1%) (32px 111.1%)   (2.25em 111.1%) (32px 106.3%)),
    title_h3:        ((1.75em 100%)   (1.5em 100%)    (1.75em 100%)   (1.625em 100%)),
    title_h3__light: ((1.75em 107.14%)(1.5em 107.14%) (1.75em 107.14%)(1.625em 100%)),
    title_h4:        ((1.5em 116.67%) (1.25em 116.67%)(1.5em 116.67%) (1.375em 118.2%)),
    more_text:       ((1.25em 140%)   (1.125em 140%)  (1.375em 140%)  (1.25em 140%)),
    main_text:       ((1em 150%)      (1em 150%)      (1.125em 150%)  (1em 150%)),
    additional_text: ((0.875em 149.2%)(0.875em 149.2%)(0.875em 149.2%)(0.75em 120%)),
);

@mixin font($style){
    @if map-has-key($properties, $style) == false {
        @error '$style должен быть title_h1/title_h2/title_h2__light/title_h3/title_h3__light/title_h4/more_text/main_text/additional_text';
    }@else{
        $propertyList: map-get($properties, $style);
        font-family: nth($propertyList, 1), 'Arial', sans-serif;
        font-style: nth($propertyList, 2);
        font-weight: nth($propertyList, 3);
        color: nth($propertyList, 4);
        text-transform: nth($propertyList, 5);

        $variablePropertyList: map-get($variableProperties, $style);
        $variablePropertyBreakpointList: nth($variablePropertyList, 1);
        font-size: nth($variablePropertyBreakpointList, 1);
        line-height: nth($variablePropertyBreakpointList, 2);

        @include media_query(laptop){
            $variablePropertyBreakpointList: nth($variablePropertyList, 2);
            font-size: nth($variablePropertyBreakpointList, 1);
            line-height: nth($variablePropertyBreakpointList, 2);
        }
        @include media_query(mobile_large){
            $variablePropertyBreakpointList: nth($variablePropertyList, 3);
            font-size: nth($variablePropertyBreakpointList, 1);
            line-height: nth($variablePropertyBreakpointList, 2);
        }
        @include media_query(mobile_small){
            $variablePropertyBreakpointList: nth($variablePropertyList, 4);
            font-size: nth($variablePropertyBreakpointList, 1);
            line-height: nth($variablePropertyBreakpointList, 2);
        }
    }
}

$shadow_levels: (
    1: (0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)),
    2: (0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)),
    3: (0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)),
    4: (0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)),
    5: (0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)),
);

@mixin shadow($level){
    box-shadow: map-get($map: $shadow_levels, $key: $level);
}

// FONTS
@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    src: local('Roboto'), local('Roboto-Regular'), url('../assets/fonts/Roboto/Roboto-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Roboto Slab';
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Bold'), url('../assets/fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Roboto Slab';
    font-weight: bold;
    src: local('Roboto Slab'), local('Roboto Slab'), url('../assets/fonts/Roboto_Slab/static/RobotoSlab-Bold.ttf') format('ttf');
}