@import "../../scss/lib.scss";
.header {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 16px 24px;
    box-sizing: border-box;
    border-radius: 0 0 4px 4px;
    margin-bottom: 32px;

    background: rgba($theme_white, 0.04);

    @include shadow(1);
}

.header__logo {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: baseline;

    cursor: pointer;
}
.header__logo-image{
    width: 48px;
    height: 48px;
    display: flex;
    position: relative;

    background: url('../../assets/images/404.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.header__logo-letter {
    width: auto;
    height: auto;
    display: flex;
    position: relative;
    // margin-right: 4px;
    margin-top: 8px;
    @include font(title_h2);
    color: $theme_primary;
}

.header__logo-text {
    width: auto;
    height: auto;
    display: flex;
    position: relative;
    margin-top: 8px;
    @include font(title_h2);
    color: $theme_secondary;
}

.header__menu {
    width: auto;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: row;
}
.header__link-block{
    text-decoration: none;
    display: flex;
    flex-direction: row;

    @include media_query(mobile_large){
        display: none;
        &.header__logo-block{
            display: flex;
        }
    }
}
.header__link{
    width: auto;
    height: auto;
    display: flex;
    position: relative;

    margin: 0 8px;

    @include font(main_text);
    color: $theme_white;

    cursor: pointer;
}