@import "../../scss/lib.scss";

.good {
    width: calc(100% / 3 - 10px);
    height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 32px;

    background: $theme_background;

    transition-property: transform, box-shadow;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;

    @include shadow(1);

    &:hover{
        transform: translateY(-4px) scale(1.02);
        @include shadow(2);
    }

    @include media_query(laptop) {
        width: calc(100% / 3 - 10px);
    }
    @include media_query(tablet) {
        width: calc(100% / 2 - 10px);
    }
    @include media_query(mobile_large) {
        width: 100%;
    }

    cursor: pointer;
}
.good__image-block {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;

    border-radius: 8px 8px 0 0;
    margin-bottom: 16px;
    padding: 8px 32px;
    box-sizing: border-box;

    background: $theme_background;

    &.good_loading{
        height: 200px;

        & .good__image{
            display: none;
        }
    }
}
.good__image{
    width: 100%;
    height: auto;
    max-height: 100px;
    display: flex;
    position: relative;

    border: none;
    box-shadow: none;
    border-width: 0;

    object-fit: contain;
}
.good__content{
    width: calc(100% - 16px);
    height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 1;
}
.good__title{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;

    margin-bottom: 16px;

    @include font(title_h4);
    color: $theme_black;


    &.good_loading{
        height: 2em;
    }
}
.good__down-block{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
}
.good__subtitle_old{
    width: auto;
    height: auto;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;

    margin-bottom: 8px;
    
    @include font(title_h4);
    color: $theme_grey;

    &::before{
        content: " ";
        width: 100%;
        height: 2px;
        display: flex;
        position: absolute;

        transform: skew(10deg, 10deg);

        background: $theme_grey;
    }
}
.good__subtitle_new{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;

    margin-bottom: 8px;
    
    @include font(title_h3);
    color: $theme_secondary;

    &.good_loading{
        height: 1em;
        color: $theme_grey;
    }
}
.good__buttons{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;

    margin-bottom: 8px;
}
.good__button{
    width: auto;
    height: auto;
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    border: 2px solid $theme_secondary;
    padding: 8px 16px;

    background: transparent;
    @include font(more_text);
    color: $theme_secondary;

    cursor: pointer;
    outline: none;

    transition-property: box-shadow, transform, background, border, color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;

    &.good_loading{
        color: $theme_grey;
    }
    &.good_inCart{
        font-weight: bold;
        background: $theme_secondary;
        border: none;
        color: $theme_background;
    }
    &:disabled{
        cursor: not-allowed;
        background: rgba($theme_grey, 0.24);
        color: rgba($theme_black, 0.24);
    }
}
.good_loading{
    background: $theme_grey;
    border-radius: 8px;

    animation-name: preloadingAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes preloadingAnimation{
    from{
        opacity: 0.6;
    }
    to{
        opacity: 1;
    }
}