@import "./scss/lib.scss";

body{
    margin: 0;
}
.head{
    width: 100%;
    height: 100px;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 24px;
    box-sizing: border-box;

    background: $theme_background;
}
.head__logo{
    width: auto;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
}
.head__logo-letter{
    width: auto;
    height: auto;
    display: flex;
    position: relative;

    @include font(title_h2);
    color: $theme_primary;
}
.head__logo-text{
    width: auto;
    height: auto;
    display: flex;
    position: relative;

    @include font(title_h2);
    color: $theme_secondary;
}