@import "./scss/lib.scss";

body{
    margin: 0;
    background: $theme_background;
}
.head{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 16px 24px;
    box-sizing: border-box;
    border-radius: 0 0 8px 8px;

    background: rgba($theme_white, 0.04);
}
.head__logo{
    width: auto;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
}
.head__logo-letter{
    width: auto;
    height: auto;
    display: flex;
    position: relative;

    margin-right: 8px;

    @include font(title_h2);
    color: $theme_primary;
}
.head__logo-text{
    width: auto;
    height: auto;
    display: flex;
    position: relative;

    @include font(title_h2);
    color: $theme_secondary;
}
.head__menu{
    width: auto;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: row;
}
.head__link{
    width: auto;
    height: auto;
    display: flex;
    position: relative;

    padding: 8px;
    
    @include font(main_text);
    color: $theme_white;

    cursor: pointer;
}