@import "./scss/lib.scss";

body{
    margin: 0;
}
.head{
    width: 100%;
    height: 100px;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;

    background: $theme_background;
}
.head__logo{
    width: auto;
    height: auto;
    display: flex;
    position: relative;
}