$deviceBreakpoints: (
    laptop: 1440px,
    laptop_small: 1366px,
    tablet_large: 1024px,
    tablet: 768px,
    mobile_large: 414px,
    mobile_small: 320px
);

@mixin media_query($device){
    @if map-has-key($deviceBreakpoints, $device) == false{
        @error "$device должен быть laptop/laptop_small/tablet_large/tablet/mobile_large/mobile_small";
    }@else{
        @media screen {
            @media (max-width: map-get($deviceBreakpoints, $device)){
                @content;
            }
        }
    }
}